<div class="filters-group-title">{{vm.placeholder}}</div>
<div ng-repeat="item in vm.items" ng-init="vm.ngModel[item.id]=item.checked">
    <div md-checkbox-wrapper data-color="{{item.color}}">
        <md-checkbox ng-model="vm.ngModel[item.id]" aria-label="{{item.name}}">{{item.name}}</md-checkbox>
    </div>
</div>
