<div class="container-fluid container-fixed-lg m-t-20">
    <p>
        {{vm.debug_url}}
    </p>
</div>

<div class="container-fluid container-fixed-lg m-t-25 ">

    <div class="col-md-6" ng-repeat="chart in vm.charts">
        <div class="panel panel-chart">
            <div class="chart-panel-header">
                <h4>{{chart.title}}</h4>
                <md-content>
                    <md-tabs md-selected="chart.tab">
                        <md-tab><i class="material-icons">view_week</i></md-tab>
                        <md-tab><i class="material-icons">equalizer</i></md-tab>
                        <md-tab><i class="material-icons">donut_small</i></md-tab>
                        <md-tab><i class="material-icons">show_chart</i></md-tab>
                        <md-tab><i class="material-icons">library_books</i></md-tab>
                    </md-tabs>
                </md-content>
            </div>
            <div class="tab-wrapper">
                <div class="fade-tab" ng-show="chart.tab == 0">
                    <div id="{{chart.id + '-stack'}}" class="am-chart"></div>
                </div>
                <div class="fade-tab" ng-show="chart.tab == 1">
                    <div id="{{chart.id + '-bar'}}" class="am-chart"></div>
                </div>
                <div class="fade-tab" ng-show="chart.tab == 2">
                    <div id="{{chart.id + '-pie'}}" class="am-chart"></div>
                </div>
                <div class="fade-tab" ng-show="chart.tab == 3">
                    <div id="{{chart.id + '-line'}}" style="width: 100%;height: 100%"></div>
                </div>
                <div class="fade-tab" ng-show="chart.tab == 4">
                    <div id="{{chart.id + '-line'}}" style="width: 100%;height: 100%"></div>
                </div>
            </div>
        </div>
    </div>

</div>
