.fade-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}

.ng-hide {
  opacity: 0;
}

.panel.panel-chart {
  h4 {
    float: left;
    padding-left: 8px;
  }
  md-tabs-canvas {
    width: 205px;
    display: inline-block;
    float: right;
  }
  md-next-button, md-prev-button {
    display: none;
  }
  md-tabs-canvas.md-paginated {
    margin: 0;
  }

  .tab-wrapper {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
  }

  .md-tab {
    padding: 8px 10px;
  }

  md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgba(0, 0, 0, 0.09);
    background: rgba(0, 0, 0, 0.2);
    display: none;
  }

  md-tabs .md-tab.md-active {
    color: rgba(0, 0, 0, 0.87);
  }

  md-pagination-wrapper {
    width: auto !important;
  }
  padding: 10px;
}
