<div class=" container-fluid container-fixed-lg" id="userprofile">

    <div class="m-t-25 panel padding-25">

        <md-input-container class="md-icon-float md-block">
            <label>Name</label>
            <md-icon md-font-set="material-icons">person</md-icon>
            <input ng-model="user.name" type="text">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>Address</label>
            <md-icon md-font-set="material-icons">home</md-icon>
            <input type="text" g-places-autocomplete ng-model="user.address"/>
        </md-input-container>

        <md-input-container class="md-block">
            <md-icon md-font-set="material-icons">email</md-icon>
            <input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <label>Phone number</label>
            <md-icon md-font-set="material-icons">phone</md-icon>
            <input ng-model="user.phone" type="text">
        </md-input-container>

        <md-input-container md-no-float class="md-block switch-language">
            <md-icon md-font-set="material-icons">language</md-icon>
            <md-select ng-model="vm.language" aria-label="Language">
                <md-option ng-repeat="language in vm.languages" value="{{language.key}}">{{language.value}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <md-button type="submit" class="md-raised" ng-disabled="frm.$invalid">Save</md-button>
        </md-input-container>

        <div ng-show="user.address">
            <hr>
            <div class="m-t-20">{{user.address}}</div>
        </div>

    </div>

</div>
