<!-- START FOOTER -->
<div class="container-fluid container-fixed-lg footer" ng-class="{'pull-bottom': vm.is('app.maps.vector') }">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright © 2016</span>
            <span class="font-montserrat">TunnelNotes</span>.
            <span class="hint-text">All rights reserved.</span>
                    <span class="sm-block"><a href="" class="m-l-10 m-r-10">Terms of use</a> | <a href=""
                                                                                                  class="m-l-10">Privacy Policy</a>
                        </span>
        </p>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END FOOTER -->
