.am-chart {
  width: 100%;
  height: 100%;
}

.row-details {
  padding: 0px 24px 24px;
  overflow: hidden;
}

.md-table tr, .md-table tbody {
  outline: 0;
}

.md-table-pagination {
  .label {
    background: none;
    font-weight: normal;
    font-size: 12px;
  }
}

.row-header:hover {
  background-color: #fafafa;
}

.detail-opened .row-header:hover {
  background-color: #e5e5e5;
}

.detail-opened {
  background-color: #fafafa;
}

.detail-key {
  text-transform: capitalize;
}

.row-details {
  padding-top: 10px;
  td:first-child {
    width: 50px;
  }
}

.row-data {
  cursor: pointer;
}

.md-table tr {
  .edit-block {
    white-space: nowrap;
    opacity: 0.2;
    transition: opacity .3s ease-in-out;
  }
  &:hover {
    .edit-block {
      opacity: 1;
    }
  }
}

md-backdrop.md-dialog-backdrop {
  z-index: 1100;
}

.md-dialog-container {
  z-index: 1200;
}
.md-scroll-mask {
  display: none !important;
}

.md-table .edited {
  background-color: rgba(168, 192, 255, 0);
  animation-name: blink;
  animation-duration: 2s;
}

@keyframes blink {
    from {background-color: rgba(168, 192, 255, 1);}
    to {background-color: rgba(168, 192, 255, 0);}
}
