<div class="container-fluid container-fixed-lg m-t-20">
    <div class="panel">
        <div class="container-fixed-lg bg-white col-sm-12 p-t-20 p-b-5 p-r-10">
            <div id="chartLog" class="am-chart" style="height: 200px;"></div>
        </div>
    </div>
</div>

<div class=" container-fluid container-fixed-lg">
    <div class="panel">

        <md-table-container>
            <table md-table ng-model="vm.selected">
                <thead md-head md-order="myOrder">
                <tr md-row>
                    <th md-column md-order-by="{{column.name}}" ng-repeat="column in vm.tableColumns">
                        <span>{{column.title}}</span>
                    </th>
                    <th md-column>&nbsp;</th>
                </tr>
                </thead>
                <tbody md-body ng-repeat="row in vm.tableRows | orderBy: myOrder" class="row-header"
                       custom-mouse-up="detailShow">
                <tr md-row class="row-data" ng-class="{'edited': row['updateBlinking'] }">

                    <td md-cell ng-repeat="column in vm.tableColumns">
                        <span ng-if="column.type == 'date'">{{ row[column.name] | date:'MMM d, yyyy' }}</span>
                        <span ng-if="column.type != 'date'">{{ row[column.name] }}</span>
                    </td>
                    <td md-cell class="edit-block">
                        <i class="material-icons link" stop-event="mouseup" ng-click="vm.edit(row['id']);"
                           data-open="quickview"
                           data-toggle-element="#quickview">mode_edit</i>

                        <i class="material-icons link" stop-event="mouseup" ng-click="vm.delete(row['id'])">delete</i>
                    </td>
                </tr>
                <tr ng-show="detailShow && row['details'].length">
                    <td colspan="100" class="row-details">
                        <table width="100%">
                            <tr ng-repeat="detail in row['details']">
                                <td width="15%" class="detail-key">{{detail.key}}</td>
                                <td width="85%">{{detail.value}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="vm.paging.limit" md-page="vm.paging.page" md-total="{{vm.paging.total}}"></md-table-pagination>

    </div>
</div>

<div class="container-fluid container-fixed-lg m-t-20">
    <p>
        <div>Table:</div>
        {{vm.debug_url_table}}
    </p>
    <p>
        <div>Chart:</div>
        {{vm.debug_url_chart}}
    </p>
</div>

