<div class="filters-group-title" ng-init="vm.ngModel = vm.items[0].id">{{vm.placeholder}}</div>

<md-radio-group ng-model="vm.ngModel" ng-repeat="item in vm.items">
    <md-radio-button
        value="{{item.id}}"
        aria-label="{{item.name}}"> {{item.name}}
    </md-radio-button>
</md-radio-group>
