<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a class="active" href="#">Plain template</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <h3 class="page-title">Page Title</h3>
</div>
<div class="container-fluid container-fixed-lg">
    <!-- YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
                 ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P & 4/5K MONITORS) UP WORDS SCREEN
                  -->
    <!-- CONTENT GOES HERE-->
    <h1>Hey there!</h1>
    <h2>{{vm.message}}</h2>

    <h3>WEBSOCKETS DATA TEST:</h3>
    <ul>
        <li ng-repeat="data in vm.webSocketData.collection track by $index">
            {{ data }}
        </li>
    </ul>
</div>
