<md-chips ng-model="vm.items" md-require-match="true">
    <md-autocomplete placeholder="{{placeholder}}" md-selected-item="vm.item"
                     md-search-text="vm.query"
                     md-delay="200"
                     md-items="item in vm.getMatches(vm.query)"
                     md-item-text="item.code">
        <md-item-template>
            <span md-highlight-text="vm.query" md-highlight-flags="^i">{{item.code}}</span>
        </md-item-template>
    </md-autocomplete>
    <md-chip-template>{{$chip.code}}</md-chip-template>
</md-chips>
