.md-virtual-repeat-container.md-autocomplete-suggestions-container
  z-index: 1000

.md-chips .md-chip
  font-size: 11px
  height: 28px
  line-height: 28px
  margin: 8px 3px 0 0

.md-chips
  padding: 0

.md-chips .md-chip .md-chip-remove
  width: 28px
  height: 28px

md-progress-linear
  display: none !important


.md-chips .md-chip-input-container
  width: 50px
