<!-- START HEADER -->
<div class="header">
    <!-- START MOBILE NAV -->
    <div class="container-fluid relative">
        <div class="pull-left full-height visible-sm visible-xs">
            <div class="header-inner hamburger-menu">
                <span class="cursor link toggle-sidebar visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
                    <i class="fa-lg" aria-hidden="true"><i class="material-icons">menu</i></i>
                </span>
            </div>
        </div>
        <div class="pull-center hidden-md hidden-lg">
            <div class="header-inner">
                <div class="brand inline">
                    <h2>{{pageTitle}}</h2>
                </div>
            </div>
        </div>
        <div class="pull-right full-height visible-sm visible-xs">
            <div class="header-inner">
                <a class="btn-link visible-sm-inline-block visible-xs-inline-block"
                   ng-click="header.showSearchOverlay()">
                    <i class="material-icons">search</i>
                </a>
            </div>
        </div>
    </div>
    <!-- END MOBILE NAV -->
    <div class="pull-left sm-table hidden-xs hidden-sm">
        <div class="header-inner">
            <div class="inline hamburger-menu">
                <span class="fa-lg padding-5 hidden-sm hidden-xs cursor link" data-toggle="quickview" data-toggle-element="#quickview"><i class="material-icons">menu</i></span>
            </div>
            <div class="brand inline">
                <h2>{{pageTitle}}</h2>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <div class="header-inner">
            <a class="search-link" ng-click="header.showSearchOverlay()"><i class="material-icons">search</i></a>
        </div>
    </div>
</div>
<!-- END HEADER -->
