.card {
  display: block;
  position: relative;
  background-color: #fafafa;
  transition: box-shadow, background-color .25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 12px 24px;
  padding: 35px 0 50px;
  min-width: 250px;
  &:hover {
    background-color: #fff;
  }
  font-family: 'Roboto', sans-serif;
}

.card .card-title {
  position: absolute;
  top: 19px;
  left: 0;
  padding-left: 60px;
  padding-right: 30px;
  width: 100%;
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card .card-author, .card .card-date {
  font-size: 16px;
}

.card .card-author {
  float: left;
  margin: 12px 14px 3px;
}

.row-eq-height {
  @media(min-width: 768px) {
    display: flex;
  }
}

.card .card-content {
  display: block;
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-date {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.35);
}

.card .icon-inner i {
  font-size: 30px;
  position: absolute;
  top: 19px;
  left: 18px;
}

.card .card-content .card-text {
  color: inherit;
  font-size: 14px;
}

.card .card-action {
  display: block;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 7px;
  text-align: right;
  .md-button {
    color: #2196F3;
  }
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  height: 60px;
  .md-button {
    &:hover {
      background: none;
    }
  }
}

.card .card-header {
  padding: 20px;
  display: block;
}

.card .card-header .card-subtitle,
.card .card-header .card-title {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.card .card-header .card-subtitle {
  color: #888;
}
