<div class="container-fluid container-fixed-lg m-t-20">
    <p>
        {{vm.debug_url}}
    </p>
</div>


<div class="container-fluid container-fixed-lg p-t-25" infinite-scroll="vm.paging()" infinite-scroll-distance="1">

    <div class="row row-eq-height" ng-repeat="news in vm.news" ng-if="$index % 2 == 0">

        <div class="col-md-6 col-sm-12 card">
            <div class="card-content" ng-init="item1 = vm.news[$index]">
                <span class="icon-inner"><i class="material-icons" ng-style="{color: '{{item1.color}}'}">{{item1.icon}}</i></span>
                <div class="card-title cursor" ui-sref="news-page({'id': item1.id})">
                    {{item1.title}}
                </div>
                <div class="card-date">{{item1.date | date:'d MMM, yyyy'}}</div>
                <div class="card-text">
                    {{item1.snippet | htmlToPlaintext}}
                </div>
            </div>
            <div class="card-action">
                <md-button class="link" ui-sref="news-page({'id': item1.id})">Read more</md-button>
                <div class="card-author">{{item1.name}}, {{item1.company}}</div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 card">
            <div class="card-content" ng-init="item2 = vm.news[$index + 1]">
                <span class="icon-inner"><i class="material-icons" ng-style="{color: '{{item2.color}}'}">{{item2.icon}}</i></span>
                <div class="card-title cursor" ui-sref="news-page({'id': item2.id})">
                    {{item2.title}}
                </div>
                <div class="card-date">{{item2.date | date:'d MMM, yyyy'}}</div>
                <div class="card-text">
                    {{item2.snippet | htmlToPlaintext}}
                </div>
            </div>
            <div class="card-action">
                <md-button class="link" ui-sref="news-page({'id': item2.id})">Read more</md-button>
                <div class="card-author">{{item2.name}}, {{item2.company}}</div>
            </div>
        </div>


    </div>

</div>
