<div class="container-fluid container-fixed-lg p-t-25" infinite-scroll="vm.paging()" infinite-scroll-distance="1">
    <div class="col-sm-12">
        <div class="m-b-25"><span ui-sref="news" class="link cursor fs-16">News</span></div>
        <h1><i class="material-icons" ng-style="{color: vm.news.color}">{{vm.news.icon}}</i> {{vm.news.title}}</h1>
        <h4 class="m-b-25">{{vm.news.date | date:'d MMM, yyyy'}}</h4>
        <p ng-bind-html="vm.news.content"></p>
        <h4>{{vm.news.name}}, {{vm.news.company}}</h4>
    </div>
</div>
