<div id="quickview" class="quickview-wrapper" data-pages="quickview">

    <!-- MAIN MENU START -->
    <div class="menu" ng-class="{'menu-hide': vm.isOpenedTab()}">
        <ul>
            <li class="menu-top">
                <img src="/assets/images/profiles/avatar.jpg" alt=""
                     data-src="/assets/images/profiles/avatar.jpg"
                     data-src-retina="/assets/images/profiles/avatar_small2x.jpg"
                     width="32" class="thumbnail-wrapper d32 circular"
                     height="32">
                <div class="m-l-10 inline">
                    <div class="link cursor" ui-sref="userprofile">David Nest</div>
                    <span>.</span>
                </div>
                <span ng-click="vm.hideTabs()" class="quickview-hide pull-right link cursor" data-toggle="quickview" data-toggle-element="#quickview">
                    <i class="material-icons">arrow_back</i>
                </span>
            </li>
            <li ng-repeat="menu in vm.menu.options" class="heading">
                <div class="navbar-divider" ng-show="menu.divider"></div>
                <div class="navbar-heading">
                    <translate translate="{{menu.translateKey}}"></translate>
                </div>
                <ul>
                    <li class="cursor" ng-repeat="item in menu.items" ui-sref="{{item.uiSref}}" stop-event="click" ng-click="vm.selectMenuItem(item)">
                        <div class="navbar-item">
                            <i class="material-icons">{{item.icon}}</i>
                            <translate translate="{{item.translateKey}}"></translate>
                            <md-button ng-show="item.form_id" class="pull-right" stop-event="click" ng-click="vm.openTab('forms');vm.loadForm(item.form_id)">add</md-button>
                            <span class="count" ng-show="item.count">{{item.count}}</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- MAIN MENU END -->

    <!-- NEWS FORM PANEL START -->
    <div class="tab" ng-init="vm.tabInit('newsForm')" ng-class="{'tab-hide': vm.tabs.newsForm}">
        <div class="tab-header">
            <i ng-click="vm.hideTabs()" class="material-icons">arrow_back</i>
        </div>
        <div stop-event="keypress">
            <div class="content">
                <form action="">

                    <md-input-container>
                        <label>Tunnel</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option ng-repeat="option in [{title: 'SkyVenture', val: 1}, {title: 'iFly Toronto', val: 2}]" value="{{option.val}}">
                                {{option.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Category</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option ng-repeat="option in [{title: 'Event', val: 1}, {title: 'Procedure', val: 2}, {title: 'Policy', val: 3}]" value="{{option.val}}">
                                {{option.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <textarea froala ng-model="myHtml"></textarea>
                    {{myHtml}}
                    <button class="pull-right md-button md-ink-ripple" type="button" aria-label="add" aria-hidden="false">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- FORMS PANEL END -->

    <!-- FORMS PANEL START -->
    <div class="tab" ng-init="vm.tabInit('forms')" ng-class="{'tab-hide': vm.tabs.forms}">
        <div class="tab-header">
            <i ng-click="vm.hideTabs()" class="material-icons">arrow_back</i>
        </div>
        <div class="content" ng-show="vm.form.fields.length">
            <form ng-submit="vm.form.onSubmit()" name="frm" novalidate class="clearfix">
                <formly-form model="vm.form.model" fields="vm.form.fields" options="vm.form.options" form="frm">
                    <md-button ng-click="vm.cancel()" class="pull-right">Cancel</md-button>
                    <md-button type="submit" ng-if="!vm.form.model.id" class="pull-right" ng-disabled="frm.$invalid">Add</md-button>
                    <md-button type="submit" ng-if="vm.form.model.id" class="pull-right" ng-disabled="frm.$invalid">Update</md-button>
                </formly-form>
            </form>
            <!--<pre>{{vm.form.model | json}}</pre>-->
        </div>
    </div>
    <!-- FORMS PANEL END -->

    <div ng-repeat="filter in vm.menu.filters" class="tab" ng-init="vm.tabInit('{{filter.name}}')" ng-class="{'tab-hide': vm.tabs[filter.name]}">
        <div class="tab-header">
            <i ng-click="vm.hideTabs()" class="material-icons">arrow_back</i> <span>{{filter.title}}</span>
        </div>
        <div class="content" ng-repeat="control in filter.controls">
            <div ng-switch="control.api_parameter">
                <div ng-switch-when="daterange">
                    <input placeholder="{{control.placeholder}}"
                           date-range-picker
                           class="form-control date-picker"
                           type="text"
                           ng-init="vm.filters[filter.name].daterange=control.defaultValue"
                           ng-model="vm.filters[filter.name].daterange"/>
                </div>
                <div ng-switch-when="business_id">
                    <check-group placeholder="{{control.placeholder}}" data-items="control.companies" ng-model="vm.filters[filter.name].business_id"></check-group>
                </div>
                <div ng-switch-when="status">
                    <check-group placeholder="{{control.placeholder}}" data-items="control.status" ng-model="vm.filters[filter.name].status"></check-group>
                </div>
                <div ng-switch-when="display_format">
                    <radio-group placeholder="{{control.placeholder}}" data-items="control.formats" ng-model="vm.filters[filter.name].display_format"></radio-group>
                </div>
                <div ng-switch-when="tags">
                    <check-group placeholder="{{control.placeholder}}" data-items="control.tags" ng-model="vm.filters[filter.name].tags"></check-group>
                </div>
                <div ng-switch-when="owner_id">
                    <chipsauto ng-model="vm.filters[filter.name].owner_id" chips-type="owner_id" placeholder="{{control.placeholder}}"></chipsauto>
                </div>
                <div ng-switch-when="related_to_id">
                    <chipsauto ng-model="vm.filters[filter.name].related_to_id" chips-type="related_to_id" placeholder="{{control.placeholder}}"></chipsauto>
                </div>
                <div ng-switch-when="product_code">
                    <chipsauto ng-model="vm.filters[filter.name].product_code" chips-type="product_code" placeholder="{{control.placeholder}}"></chipsauto>
                </div>
                <div ng-switch-when="diviseller_id">
                    <chipsauto ng-model="vm.filters[filter.name].diviseller_id" chips-type="diviseller_id" placeholder="{{control.placeholder}}"></chipsauto>
                </div>
                <div ng-switch-when="salesperson_id">
                    <chipsauto ng-model="vm.filters[filter.name].salesperson_id" chips-type="salesperson_id" placeholder="{{control.placeholder}}"></chipsauto>
                </div>
            </div>
        </div>
    </div>

</div>
