$quickViewWidth: 310px;
$quickViewLgWidth: 450px;

/* Quick View
------------------------------------
*/
.quickview-wrapper {
  position: fixed;
  left: -$quickViewWidth - 1px;
  top: 0;
  width: $quickViewWidth;
  background: #fff;
  bottom: 0;
  z-index: 1000;
  -webkit-box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.35);
  box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.35);
  border-left: 1px solid rgba(222, 227, 231, 0.56);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.quickview-wrapper.open {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -ms-transform: translate(100%, 0);
}

.quickview-wrapper .quickview-toggle {
  position: absolute;
  right: 12px;
  top: 2px;
  color: #788195;
  padding: 6px;
  opacity: 0.4;
}

.quickview-wrapper .quickview-toggle:hover {
  opacity: 1;
}

//------SideBar--------

.quickview-wrapper {
  position: fixed;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;

  .tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //transition: 0.4s ease;
    transform: translateX(-100%);
    z-index: 10;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
  }

  .menu {
    position: absolute;
    //transition: 0.4s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    overflow-y: auto;
  }

  .menu-hide {
    transform: translateX(100%);
  }

  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu ul li {
    margin: 0;
    padding: 0;
  }

  .navbar-divider {
    border-top: 1px rgba(0, 0, 0, 0.07) solid;
    height: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .navbar-heading {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 16px;
  }

  .navbar-item {
    line-height: 48px;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.87);
    span.count {
      float: right;
      font-size: 11px;
      margin-right: -90px;
    }
    i {
      vertical-align: middle;
      width: 38px;
      color: #757575;
    }
    .md-button {
      visibility: hidden;
      margin: 10px 50px 0 8px;
      font-size: 11px;
      min-width: 40px;
      line-height: 28px;
      min-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #2196F3;
    }
    &:hover {
      button {
        visibility: visible;
        background: transparent;
      }
      background-color: #f2f2f2;
    }
    transition: 0.2s ease;
  }

  .menu li.heading {
    color: rgba(0, 0, 0, 0.54);
    &:hover {
      background: none;
    }
  }

  .menu li.menu-top {
    padding-top: 0px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 50px;
    overflow: hidden;
    height: 50px;
    border-bottom: 1px rgba(0, 0, 0, 0.07) solid;;
    .profile-link {
      color: #757575;
      font-size: 13px;
    }
    vertical-align: middle;
    .thumbnail-wrapper {
      float: left;
      margin: 9px 0;
    }
    i {
      margin-top: 6px;
      margin-right: 20px;
      width: 20px;
    }
    &:hover {
      background: none;
    }
  }

  .tab-header {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
    padding: 0 10px;
    .material-icons {
      line-height: 50px;
    }
  }

  .tab-hide {
    transform: translateX(0)
  }

  .tab .content {
    padding: 10px;
  }

}

.md-datepicker-input {
  min-width: 90px;
}

.md-datepicker-calendar-pane {
  z-index: 1000;

  .md-datepicker-input-mask {
    width: 308px;
  }
}

.sm-calender-pane {
  z-index: 1000;
}

md-input-container, .md-input {
  width: 100%;
}

body.menu-pin .page-container .page-content-wrapper .content {
  padding-left: $quickViewWidth;
}

body.menu-pin .header {
  padding-left: $quickViewWidth;
}

body.menu-pin .page-container .page-content-wrapper .footer {
  left: $quickViewWidth;
}

@media (min-width: 1441px) {
  .quickview-wrapper {
    left: -$quickViewLgWidth - 1px;
    width: $quickViewLgWidth;
  }
  body.menu-pin .page-container .page-content-wrapper .content {
    padding-left: $quickViewLgWidth;
  }
  body.menu-pin .header {
    padding-left: $quickViewLgWidth;
  }
  body.menu-pin .page-container .page-content-wrapper .footer {
    left: $quickViewLgWidth;
  }
}

.quickview-hide {
  display: none;
}

@media (max-width: 640px) {
  .quickview-wrapper {
    position: fixed;
    left: -100%;
    width: 100%;
  }
  .quickview-hide {
    display: inline-block;
  }
  body.menu-pin {
    overflow: hidden;
  }
}

.md-select-menu-container {
  z-index: 1000;
}

.daterangepicker.dropdown-menu {
  z-index: 2000 !important;
}
