/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

[role="button"] {
  outline: none;
}

//-----AMCharts------
#chartLogPie {
  .amcharts-pie-label {
    font-weight: bold;
    font-size: 11px;
    //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
}

.panel {
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.21);
  border: 1px solid #e8e8e8;
}

.brand h2 {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  margin: 0;
  padding: 0;
}

table.md-table td.md-cell {
  border-top: 1px rgba(0, 0, 0, 0.06) solid;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
}

table.md-table th.md-column {
  font-family: "Roboto Medium", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}

.fade-element {
  transition: opacity 0.15s ease-in-out;
  opacity: 1;
}

.fade-element.ng-hide {
  opacity: 0;
}


// Google places autocomplete

.pac-container {
  background-color: #fff;
  position: absolute !important;
  z-index: 1000;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: "Roboto", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .3s cubic-bezier(.55, 0, .55, .2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
  max-width: 600px;
  transform: translateY(-3px);
}

.pac-container:after, .hdpi.pac-container:after {
  display: none;
}

.pac-item {
  cursor: default;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  font-size: 13px;
  color: #999;
  border-top: none;
  line-height: 48px;
  padding: 0 16px;
  transition: background .15s linear;
  .pac-item-query {
    color: rgba(33, 33, 33, 0.87);
    font-size: 16px;
    font-weight: normal;
  }
}

.pac-item:hover, .pac-item-selected, .pac-item-selected:hover {
  background-color: #eeeeee;
}

.pac-matched {
  font-weight: 700
}

.pac-item-query {
  font-size: 13px;
  padding-right: 3px;
  color: #000
}

.pac-icon, .hdpi .pac-icon {
  display: none;
}

.pac-icon-search {
  background-position: -1px -1px
}

.pac-item-selected .pac-icon-search {
  background-position: -18px -1px
}

.pac-icon-marker {
  background-position: -1px -161px
}

.pac-item-selected .pac-icon-marker {
  background-position: -18px -161px
}

.pac-placeholder {
  color: gray
}

.custom-prediction-label {
  font-style: italic;
}

// Material design

md-input-container > md-icon {
    color: #757575;
}
